.fondo
    {
        background-color: red;
    }
.fondo2
    {
        background-color: silver;
    }
.titulo
    {
        background-color: white;
        text-align: center;
        text-shadow: 2px 3px 3px gray;
        font-size: 45px;
    }
.navegador
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
.navegador2
    {
        display: flex;
        gap: 100px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }
.subtitulo
    {
        text-align: center;
        background-color: white;
        text-shadow: 1px 2px 2px gray;
    }
.informacion
    {
        background-color: silver;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
.pie
    {
        background-color: rgba(255, 255, 255, 0.514);
    }
.imagenes
    {
        display: flex;
        justify-content: center;
    }
.informacion2
    {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }