.fondo
    {
        background-color: red;
    }
.fondo2
    {
        background-color: silver;
    }
.fondo3
    {
        background-color: white;
    }
a
    {
        text-decoration: none;
        color: black;
    }
.titulo
    {
        display: flex;
        border: 2px solid black;
        margin: 20px;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        text-shadow: 1px 1px 4px gray;
        font-size: 45px;
    }
.navegador
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgb(48, 47, 47), 0 6px 10px 0 black;
    }
.navegador2
    {
        display: flex;
        gap: 150px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }
.subtitulo
    {
        display: flex;
        background-color: white;
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 2px 2px gray;
        margin: 15px 565px;
        border-radius: 100px;
    }
.informacion
    {   
        display: block;
        background-color: silver;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: auto;
        border: 2px solid black;
        padding: 2px 15px;
        margin: 15px;
        box-shadow: 0 1px 6px 0 rgb(48, 47, 47), 0 6px 20px 0 black;
    }
.pie
    {
        background-color: rgba(255, 255, 255, 0.514);
    }
.imagenes
    {
        display: flex;
        justify-content: center;
    }
.informacion2
    {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.subtitulo2
    {
        text-align: center;
        background-color: white;
        text-shadow: 1px 2px 2px gray;
    }
.dibujo
    {
        width: 70%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
    }
.fimage 
    {
        display: block;
        margin-left: 100px;
        box-shadow: 0 1px 6px 0 rgb(48, 47, 47), 0 6px 20px 0 black;
        width: 200px;
    }
li 
    {
        display: inline;
    }